.div{
  width: 18vw;
  height: 18vw;
  background-color: rgb(177, 173, 70);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  position: relative;
  border-radius: 0.4rem;
  margin: 0.5rem;
}

.name{
  font-size: 0.8em;
  position: absolute;
  bottom: 10vh;
  left: 1vw;
  background-color: rgb(230, 233, 200);
  width: 10vw;
}

.image{
  width: 100%;
}

.btn{
  background-color: rgb(243, 52, 253);
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 1.0vw;
  height: 3vh;
  cursor: pointer;
}

.data{
  display: flex;
  width: 100%;
  justify-content: space-around;
}


















