.div {
  width: 18vw;
  height: 22vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  position: relative;
  border-radius: 0.4rem;
  margin: 0.5rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #000; /* Bordes negros */
}


.div:hover {
  background-color: rgb(155, 73, 222); /* Cambiar el color de fondo al pasar el mouse */
  border-color: #fff; /* Cambiar el color del borde al pasar el mouse */
}

.name {
  font-size: 0.8em;
  position: absolute;
  bottom: 10vh;
  left: 1vw;
  background-color: rgb(246, 239, 35);
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 10vw;
  color: #000000; /* Letras negras */
}

.image {
  width: 100%;
  border-radius: 0.6rem;
}

.btn {
  background-color: rgb(0, 0, 0);
  color: #fff; /* Letras blancas */
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 3.0vw;
  height: 5vh;
  cursor: pointer;
}

.data {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding:1%;
  color: #fff;
}
