/* Estilos para el cuerpo del documento */
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 /* Estilos para el contenedor principal de la aplicación */
 .App {
   width: 100vw;
   height: 100vh;
   text-align: center;
   background-image: url('../src/image/universe-background-filled-with-stars-and-nebula-free-vector.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center; /* Centrar horizontalmente */
   align-items: center; /* Centrar verticalmente */
   flex-direction: column; /* Alinear elementos verticalmente */
 }
 
 /* Estilos para el formulario de login */
 .login-form {
   width: 300px; /* Ancho del formulario */
   padding: 20px;
   background-color: #fff; /* Fondo blanco */
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
 }
 
 /* Estilos para los elementos <code> */
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
   background-color: #f0f0f0; /* Gris claro */
   padding: 2px 5px;
   border: 1px solid #ccc; /* Borde en gris */
   border-radius: 3px;
 }
 
 /* Media query para hacer el formulario responsive en pantallas más pequeñas */
 @media screen and (max-width: 600px) {
   .login-form {
     width: 90%; /* Cambiar el ancho del formulario en pantallas más pequeñas */
   }
 }
 

