.App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('C:\Users\nanot\Desktop\PI-fertassara\Integration-tassara\front\src\image\fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    flex-direction: column; /* Alineamos los elementos en una columna */
  }
  
  /* Estilos para el contenedor que centrará el formulario */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para el formulario */
  form {
    width: 60vh;
    background-color: rgba(138, 43, 226, 0.8);
    padding: 20px;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px rgba(138, 43, 226, 0.2);
  }
  
  /* Estilos para las etiquetas del formulario */
  form label {
    color: white;
  }
  
  /* Estilos para los campos de entrada del formulario */
  form input[type="text"] {
    width: 100%;
    height: 30px;
    border-radius: 0.3rem;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  /* Estilos para los mensajes de error */
  form p {
    color: red;
    margin: 5px 0;
  }

  button{
    background-color: rgba(237, 217, 36, 0.8);
    border-radius: 0.3rem;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold; 
  }
  